
.footer {
    padding: 20px 30px 70px 30px;
    background-image:
            linear-gradient(
                    135deg,
                    rgba(12, 219, 255, 0.12),
                    rgba(255, 239, 0, 0.12)
            ),
            url("/images/lines.svg");

    background-size: cover, cover;
    background-position: center, center -400px ;
    background-repeat: no-repeat;
    z-index: 0;
    height: auto;
}


.footer-grid {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 0.9fr 1.6fr;
    align-items: center;
    gap: 80px;
}
.code-window {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-window svg {
    max-width: 100%;
    filter: drop-shadow(0 20px 30px rgba(0,0,0,0.25));
}


.footer-center {
    border-radius: 26px;

    padding: 50px 40px;

    text-align: center;
}


/* logo */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer-logo img {
    width: 110px;
}

.gradient-title {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(90deg, #00b3ff 0%, #ffd600 70%, #009dff 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientShift 7s linear infinite;
}

/* nav */
.footer-nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
}

.footer-nav a {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.footer-nav a:hover {
    color: #00a2ff;
}

/* socials */
.footer-socials {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-socials img {
    width: 34px;
    transition: 0.3s;
}


/* copy */
.footer-copy {
    margin-top: 35px;
    padding-top: 20px;
    font-size: 15px;
    color: #666;
    opacity: 0.85;
    position: relative;
}

/* top line */
.footer-copy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 60%;
    height: 1.5px;

    background: linear-gradient(
            90deg,
            rgba(0,196,255,0.45),
            rgba(255,214,0,0.65),
            rgba(0,196,255,0.45)
    );
    border-radius: 4px;
}

/* масштаб SVG */
.code-window svg {
    width: clamp(220px, 40vw, 360px);
    height: auto;
}

/* БАЗОВЫЙ РАЗМЕР ТЕКСТА SVG */
.code-window {
    font-size: 14px;
}

/* обычный код */
.svg-code {
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    fill: #abb2bf;
}

/* теги */
.svg-tag {
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    fill: #61afef;
}

/* title */
.svg-title {
    font-family: "Courier New", monospace;
    font-size: 0.95em;
    fill: #98c379;
}

/* h1 */
.svg-h1 {
    font-family: "Courier New", monospace;
    font-size: 0.95em;
    fill: #c678dd;
}
.svg-p {
    font-family: "Courier New", monospace;
    font-size: 0.95em;
    fill: #c678dd;
}


@media (max-width: 1200px) {
    .footer {
        background-position: center, center -200px ;

    }
    .footer-grid {
        gap: 10px;
        grid-template-columns: 1fr 1.4fr;
    }

    .gradient-title {
        font-size: 34px;
    }
}
@media (max-width: 930px) {
    .footer {

        background-position: center, center 250px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        gap: 60px;
        text-align: center;
    }

    .code-window {
        order: 2;
    }

    .footer-center {
        padding: 45px 30px;
    }

    .gradient-title {
        font-size: 32px;
    }
}
@media (max-width: 400px) {
    .gradient-title {
        font-size: 24px;
    }

    .footer-logo img {
        width: 90px;
    }

    .footer-copy::before {
        width: 80%;
    }

}


